@import './mui/_.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		font-size: 16px; /* set equal to 1rem */
		font-weight: 400;
		margin: 0;
		height: 100%;
		min-height: 100vh;
	}

	#__next {
		display: flex;
		flex-direction: row;
		height: 100%;
		min-height: 100vh;
	}
}
