.um-table-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.um-table-pagination li {
    margin: 0;
    padding: 0;
}

.um-table-pagination button {
    margin: 0;
    padding: 0;
    border: none;
}

.um-table-pagination ul li button{
    margin: 0, 0, 0, 0;
    border-radius: 0px;
    padding: 0,0,0,0;
}

.um-table-pagination ul li:first-child button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 90px;
    /* border-right: none; */
}

.um-table-pagination ul li:last-child button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 90px;
    /* border-left: none; */
}

.um-table-pagination ul li button {
    padding: 0,0,0,0;
}

/* .um-table-pagination ul li:not(:first-child):not(:last-child) button {
    border-right: none;
}

.um-table-pagination li:has(div) {
    &:prev li button {
        border-right: 1px solid #D6D6D6;
    }
}*/

.um-table-pagination ul li div {
    /* border: 1px solid #D6D6D6; */
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
}


/* Mobile pagination */
.mobile-um-table-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-um-table-pagination li {
    margin: 0;
    padding: 0;
}

.mobile-um-table-pagination button {
    margin: 0;
    padding: 0;
    /* border: 1px solid #D6D6D6; */
    border: none;
}

.mobile-um-table-pagination ul li button{
    margin: 0, 0, 0, 0;
    border-radius: 0px;
    padding: 0,0,0,0;
}

.mobile-um-table-pagination ul li:first-child button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    /* border-right: none; */
}

.mobile-um-table-pagination li:last-child button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 50px;
    /* border-left: none; */
}

.mobile-um-table-pagination ul li button {
    padding: 0,0,0,0;
}

.mobile-um-table-pagination ul li div {
    /* border: 1px solid #D6D6D6; */
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
}





